
.aims{
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 30px;
    margin-bottom: 5px;
 }
 h2{
    text-align: center;
 }
 h1{
    font-size: 36px;
    font-weight: 600;
 }
 p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
 }
 .row{
    margin: 10;
    display: flex;
    justify-content: space-between;
 }
 .aims-col{
    flex-basis: 32%;
    background: #fff3f3;
    border-radius: 0;
    margin-top: 0%;
    margin-bottom: 0;
    padding: 0px;
    box-sizing: border-box;
    transition: 0.5s;
    border: 2px solid;
 }
 h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
 
 }
 .aims-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
 }

 .head{
    
    margin-left: 0px;
        padding: 0;
        border: 2px black solid;
        text-align: center;
        height: 20px;
        width: 80px;
        float: right;
    background-color: blue;
 }
 @media screen and (max-width:1200px) {
    .aims, .row{
        width: 40%;
        margin: 20px 5px 20px 40px;
        display: inline;

    }
 }